---
# yamllint disable rule:truthy
name: "Pull Request on develop"

on:
  push:
    branches:
      - "renovate/**"
  pull_request:
    branches:
      - develop

jobs:
  linter:
    uses: ./.github/workflows/workflow-linter.yml

  uv-checker:
    uses: ./.github/workflows/workflow-uv-check.yml

  tests:
    needs: ["linter", "uv-checker"]
    uses: ./.github/workflows/workflow-tests.yml
