---
# yamllint disable rule:truthy
name: Publish Infrahub Sync Package

on:
  workflow_dispatch:
    inputs:
      runs-on:
        description: "The OS to run the job on"
        required: false
        default: "ubuntu-22.04"
        type: string
      version:
        type: string
        required: false
        description: The string to extract semver labels from.
        default: ''
      publish:
        type: boolean
        description: Whether to publish the package to Pypi
        required: false
        default: false
  workflow_call:
    inputs:
      runs-on:
        description: "The OS to run the job on"
        required: false
        default: "ubuntu-22.04"
        type: string
      version:
        type: string
        required: false
        description: The string to extract semver labels from.
        default: ''
      publish:
        type: boolean
        description: Whether to publish the package to Pypi
        required: false
        default: false

jobs:
  publish_to_pypi:
    name: "Publish Infrahub Sync to PyPI"
    runs-on: "ubuntu-22.04"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v5"

      - name: "Install uv"
        uses: "astral-sh/setup-uv@v4"
        with:
          version: "^0.9,<1.0"

      - name: "Set up Python"
        run: uv python install 3.12

      - name: "Build package"
        run: uv build

      - name: "Show output"
        run: "ls -la dist/"

      - name: "Publish to PyPI"
        run: uv publish
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
