---
# yamllint disable rule:truthy rule:truthy rule:line-length
name: "Poetry check"
on:
  workflow_call:
    inputs:
      directory:
        type: "string"
        description: "Directory in which poetry check will be executed"
        default: "./"
jobs:
  files-changed:
    name: Detect which file has changed
    runs-on: "ubuntu-22.04"
    timeout-minutes: 5
    outputs:
      poetry_files: ${{ steps.changes.outputs.poetry_files }}
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: Check for file changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/file-filters.yml

  poetry_check:
    runs-on: "ubuntu-latest"
    if: |
      needs.files-changed.outputs.poetry_files == 'true' ||
      github.ref_name == 'stable' ||
      github.ref_name == 'develop'
    needs: ["files-changed"]
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Set up Python"
        uses: "actions/setup-python@v5"
        with:
          python-version: "3.12"
      - name: "Setup environment"
        run: |
          pipx install poetry
      - name: "Validate pyproject.toml and consistency with poetry.lock"
        run: |
          poetry check
        working-directory: ${{ github.event.inputs.directory }}
